<div *ngFor="let employee of employees; let i = index" class="employee-container">
  <img [src]="employee.image" alt="Employee Image" class="employee-image">
  <div class="employee-details">
    <div class="employee-name">{{ employee.vorname }} {{ employee.nachname }}</div>
    <div class="employee-email"><span>Email:</span> {{ employee.email }}</div>
    <div class="employee-personalnummer"><span>Personalnummer:</span> {{ employee.personalnummer }}</div>
  </div>
  <img [src]="employee.imageRight" alt="Right Side Image" class="employee-image-right" (click)="deleteEmployee(i)">
</div>
