<div class="employee-administration-container">
  <button class="create-employee-button" (click)="openModal()">Mitarbeiter erstellen</button>
  <div class="employee-list-wrapper">
    <app-employee-list [employees]="employees" (employeeDeleted)="onEmployeeDeleted($event)"></app-employee-list>
  </div>

  <!-- Modal -->
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <span class="close-button" (click)="closeModal()">&times;</span>
      <form [formGroup]="employeeForm" (ngSubmit)="addEmployee()">
        <div class="form-group">
          <div class="form-row">
            <label class="form-label">Vorname:</label>
            <input class="form-input" formControlName="vorname" required>
          </div>
          <div class="form-row">
            <label class="form-label">Nachname:</label>
            <input class="form-input" formControlName="nachname" required>
          </div>
          <div class="form-row">
            <label class="form-label">Email:</label>
            <input class="form-input" formControlName="email" type="email" required>
          </div>
          <div class="form-row">
            <label class="form-label">Personalnummer:</label>
            <input class="form-input" formControlName="personalnummer" type="number" required>
          </div>
          <!-- New row for checkbox -->
          <div class="form-row">
            <label class="form-label">Admin:</label>
            <input type="checkbox" class="form-input" formControlName="admin">
          </div>
          <!-- New row for file input and drag-and-drop area -->
          <div class="form-row">
            <label class="form-label">Bild:</label>
            <input type="file" class="form-input" (change)="onFileSelected($event)">
          </div>
          <div class="form-row">
            <div class="drag-drop-area" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
              <p>Bild hierher ziehen um es auszuwählen</p>
              <img *ngIf="imagePreview" [src]="imagePreview" alt="Image Preview" class="image-preview">
            </div>
          </div>
        </div>
        <div class="button-group">
          <button type="submit" [disabled]="!employeeForm.valid">Hinzufügen</button>
          <button type="button" (click)="closeModal()">Abbrechen</button>
        </div>
      </form>
    </div>
  </div>
</div>
