<div class="project-detail">
  <app-project-info-tile [project]="project"></app-project-info-tile>
  <div class="chat-section">
    <div class="messages">
      <app-chat-message *ngFor="let message of messages" [message]="message"></app-chat-message>
    </div>
    <div class="input-section">
      <input type="text" [(ngModel)]="newMessage" placeholder="Text">
      <input id="file-upload" type="file" style="align-content: center" (change)="onFileSelected($event)" #fileInput multiple>
      <button (click)="sendMessage()">Senden</button>
    </div>
  </div>
</div>
