<div class="project-detail">
  <div class="info-tile-container" style="position: relative;">
    <app-project-info-tile [project]="project"></app-project-info-tile>
    <button class="edit-button" (click)="navigateToEdit()">Bearbeiten</button>
  </div>
  <div class="middle-box">
    <div class="middle-box-header">
      <input type="date" class="calendar-input" [value]="currentDate" (change)="onDateChange($event)">
      <label class="employee-label">Mitarbeiter:<span class="employee-names">{{ getEmployeeNames() }}</span></label>
    </div>
    <button class="assign-button" (click)="openModal()">Mitarbeiter Zuweisen</button>
  </div>
  <div class="chat-section">
    <div class="messages">
      <app-chat-message *ngFor="let message of messages" [message]="message"></app-chat-message>
    </div>
    <div class="input-section">
      <input type="text" [(ngModel)]="newMessage" placeholder="Text">
      <input id="file-upload" type="file" style="align-content: center" (change)="onFileSelected($event)" #fileInput multiple>
      <button (click)="sendMessage()">Senden</button>
    </div>
  </div>
</div>

<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <span class="close-button" (click)="closeModal()">&times;</span>
    <form>
      <div class="form-group">
        <div class="form-row">
          <label class="form-label">Mitarbeiter:</label>
          <select class="form-input" [(ngModel)]="selectedEmployee" name="employee" required>
            <option *ngFor="let employee of employees" [ngValue]="employee">
              {{employee.vorname}} {{employee.nachname}}
            </option>
          </select>
        </div>
        <div class="form-row">
          <label class="form-label">Datum:</label>
          <input class="form-input" type="date" [(ngModel)]="newEmployeeDate" name="datum" required>
        </div>
        <div class="form-row">
          <label class="form-label">Uhrzeit von:</label>
          <input class="form-input" type="time" [(ngModel)]="newEmployeeStartTime" name="uhrzeitVon" required>
        </div>
        <div class="form-row">
          <label class="form-label">Uhrzeit bis:</label>
          <input class="form-input" type="time" [(ngModel)]="newEmployeeEndTime" name="uhrzeitBis" required>
        </div>
      </div>
      <div class="button-group">
        <button type="button" class="add-button" (click)="addEmployeeToDate()">Hinzufügen</button>
      </div>
    </form>
  </div>
</div>
