<div class="project-info-tile">
  <div class="image-container">
    <ng-container *ngIf="project?.image; else defaultImage">
      <img [src]="project?.image" alt="Projektbild">
    </ng-container>
    <ng-template #defaultImage>
      <img src="assets/default-project-image.jpg" alt="Standardbild" style="opacity: 0.2;">
    </ng-template>
  </div>
  <div class="info-container">
    <h2>{{ project?.titel }}</h2>
    <div class="details">
      <div>
        <p><strong>Name Bauherr:</strong> {{ project?.name_bauherr }}</p>
        <p><strong>Adresse:</strong> {{ project?.adresse }}</p>
        <p><strong>Status:</strong> {{ project?.status }}</p>
      </div>
      <div>
        <p><strong>Telefon:</strong> {{ project?.telefon }}</p>
        <p><strong>Email:</strong> {{ project?.email }}</p>
        <p><strong>Arbeitsaufwand:</strong> {{ project?.arbeitsaufwand }}</p>
      </div>
    </div>
    <div *ngIf="isDashboard">
      <button type="button" (click)="navigateToProjectDetail()">Details</button>
    </div>

  </div>
</div>
