<h1 style="margin: 0 0 50px 0">Hallo, {{mitarbeiterDaten.vorname}} {{mitarbeiterDaten.nachname}}</h1>

<div class="filter-container">
  <label for="filterType">Filter:</label>
  <select id="filterType" [(ngModel)]="filterType" (change)="onFilterTypeChange()">
    <option *ngFor="let type of filterTypes" [value]="type.value">{{ type.label }}</option>
  </select>

  <label for="filterValue" *ngIf="filterType">Wert:</label>
  <select id="filterValue" [(ngModel)]="filterValue" *ngIf="filterType">
    <option *ngFor="let value of (filterType === 'employee' ? employeeNames : statuses)" [value]="value">{{ value }}</option>
  </select>

  <button (click)="applyFilter()">Filter anwenden</button>
  <div  class="admin-buttons" *ngIf="mitarbeiterDaten.admin">
    <button >Mitarbeiterverwaltung</button>
    <button >Projekt</button>
  </div>
</div>

<div *ngFor="let project of projects" style="margin: 0px 100px">
  <app-project-info-tile [project]="project" [isDashboard]="true" [personalnummer]="personalnummerUrl"></app-project-info-tile>
</div>
