/* You can add global styles to this file, and also import other style files */
body {
  font-family: Calibri;
}
button {
  background-color: #1d475d;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #618aaa;
}
